td ,th
{
	border : 1px solid black;
	white-space: nowrap;
}

/*  ######################################### INFO BULLE ######################################### */




 /* ######################################### Affichage patient ######################################### */

#pat{
		font-size:12px;     
		border-color:#FFEFFA;
		border-size: 0,1em; 
		border-style: solid;
		float: left; 
		overflow:hidden;
		height:15px;
		background-color:#CFEFFA;
		border : 0;
		color: #0000FF;

}
#libre
{
		margin: 0 auto 0 auto;
		border : 0;
		font-size:12px;     
		border-color:#DEEDDD;
		border-size: 0,1px;  
		border-style: solid;
		float: left; 
		overflow:hidden;
		height:15px;
		background-color:	#80E6B2;
		color :#0A2A0A;
}
#retard,#depasse
{
		float: left; 
		overflow:hidden;
		height:15px;
		background-color:red;
}

#idp
{
		float: left; 
		overflow:hidden;
		height:15px;
		background-color:grey;
}
