#retard
{
		border-color:#DEEDDD;
		float: left; 
		background-color:red;
}
/* pour date picker week */
td.ui-datepicker-week-col
{	
	cursor:pointer;
	cusor:hand;
}
/* pour date picker week */
div#ui-datepicker-div.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all 
{
	font-size: 1.3em; 
}	

 
select.ui-datepicker-month{width:60px !important;} 	
select.ui-datepicker-year{width:60px !important;} 	


.ui-datepicker {
width: 17em; /*what ever width you want*/
}