table {
	border-collapse:collapse;
	border : 1px solid black;
}

.table_main {
	width : 1200px;
	text-align : center;
	margin : auto auto auto auto;
} 

#form_date
{
	text-align : center;
}
	
td ,th
{
	border : 1px solid black;
	white-space: nowrap;
}

.hopital,.nomservice
{
	font-weight : bold;
	text-align : left;
}
.nomservice
{
	cursor : pointer;
}

.service 
{
	width : 250px;
	text-align : left;
}

#litdiff
{
	font-weight: Bold;
}

#datepicker
{
	padding-right : 20px;
	text-align : center;
	width : 160px;
}
.dispo
{
	color : #11890D;
	font-weight: Bold;
}
	
.dispo100
{
	color : #29C724;
	font-weight: Bold;
}
	
.dispo75
{
	color : #93FE40;
	font-weight: Bold;
}
	
.dispo50
{
	color : #FAB323;
	font-weight: Bold;
}

.dispo25
{
	color : #F07911;
	font-weight: Bold;
}
	
.nondispo
{
	color : #FF0000;
	font-weight: Bold;
}

.table_main .today
{
	background-color : #F79515;
}

a:link,a:visited 
{ 
 text-decoration:none; 
 color : black;
} 


/*  ######################################### INFO BULLE ######################################### */


a.info span
{
	position:absolute;
	margin-top:23px; 
	margin-left:-35px;
	color:#09c; 
	background:rgba(0,0,0,.9);
	padding:15px; 
	border-radius:3px;
	box-shadow:0 0 2px rgba(0,0,0,.5);
	transform:scale(0) rotate(-12deg);
	transition:all .15s;
	opacity:0;
}
 
a.info:hover span, a.info:focus span
{
	transform:scale(1) rotate(0);
	opacity:1;
}


 /* ######################################### Affichage patient ######################################### */

#pat{
		font-size:12px;     
		border-color:#FFEFFA;
		border-size: 0,1em; 
		border-style: solid;
		float: left; 
		overflow:hidden;
		height:15px;
		background-color:#CFEFFA;
		border : 0;
		color: #0000FF;
		text-align : left;

}
#libre
{
		margin: 0 auto 0 auto;
		border : 0;
		font-size:12px;     
		border-color:#DEEDDD;
		border-size: 0,1px;  
		border-style: solid;
		float: left; 
		overflow:hidden;
		height:15px;
		background-color:	#80E6B2;
		color :#0A2A0A;
}
#retard,#depasse
{
		float: left; 
		overflow:hidden;
		height:15px;
		background-color:red;
}

#idp
{
		float: left; 
		overflow:hidden;
		height:15px;
		background-color:grey;
}

